.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddccb2;
    padding: 10px;
}
.title{
    display: flex;
}
.title-link{
    display:flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #805050;
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.username{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #805050;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: end;
}