
.opening-hours-table {
    margin: 20px 0;
}

.opening-hours-table th,
.opening-hours-table td {
    padding: 8px;
    text-align: left;
}

.opening-hours-table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}

.opening-hours-table-pretty td {
    border: 1px solid #ddd;
    padding: 12px;
}

.opening-hours-table-pretty .opening-hours-row-even {
    background-color: #fadecc;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.restaurant-card {
    background-color: #fae9de;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.restaurant-card-detail {
    text-decoration: none;
}

.restaurant-card h3 {
    margin-top: 0;
    color: #805050;
}

.restaurant-card p {
    margin: 5px 0;
}


/* Stars */
.stars-container {
    position: relative;
    font-size: 2rem;
    color: #e5c6b5;
}

.stars-filled {
    position: absolute;
    top: 0;
    left: 0;
    color: #805050;
    overflow: hidden;
}
